/* MINIMAL CSS RESET */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Raleway, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

/* RESERVIA CSS STARTS HERE */

/* HEADER STYLING */

header {
  width: 100%;
}

.header__wrapper {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 2rem;
}

.active {
  color: #0065fc;
}
.activities-link {
  color: rgb(34, 34, 34);
}

.signup-link {
  color: #0065fc;
  font-weight: 600;
}

/* MAIN STYLING */

.main__wrapper {
  max-width: 114rem;
  margin: 0 auto;
  padding: 2rem;
}
/* SEARCH BUTTON STYLING */

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0rem;

  border: solid 1px #dfdfdf;
  background-color: #dfdfdf;
  border-radius: 20px;
  height: 50px;
  width: 380px;

  overflow: hidden;
}

.searchbar__icon {
  color: rgb(58, 58, 58);
  background-color: #dfdfdf;
  margin: 2rem;
}

.searchbar__input {
  border: none;
  flex-grow: 1;
  height: 100%;
  padding: 1rem;
  font-weight: 600;
  color: rgb(58, 58, 58);
}

.searchbar__button {
  background-color: #0065fc;
  color: white;
  border: none;
  min-height: 100%;
  padding: 2rem;
  font-weight: 600;
}

.searchbar__button:hover {
  background-color: #3485ff;
}

/* FILTERS STYLING */

.filters {
  display: flex;
  align-items: center;
}

.filters h4 {
  margin-right: 2rem;
  margin-bottom: 0.3rem;
}

.filters__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 70%;
  justify-content: space-between;
}

.filter {
  background-color: white;
  color: rgb(58, 58, 58);
  font-weight: 400;
  font-size: 1.6rem;

  border: 2px solid#c4dcff;
  border-radius: 50px;
  margin: 0 1.5rem 0.3rem 0;
  padding: 1rem;
  height: 35px;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
}

.filter__icon {
  background-color: #c4dcff;
  position: absolute;
  padding: 0.9rem;
  left: -0.4rem;
  border-radius: 30px;
  color: #0065fc;
}

.filter__text {
  margin: 0 auto;
  margin-left: 2rem;
  padding: 0 1rem;
}
