/* MINIMAL CSS RESET */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Raleway, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

/* RESERVIA CSS STARTS HERE */

/* HEADER STYLING */

header {
  width: 100%;
}

.header__wrapper {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 2rem;
}

.active {
  color: #0065fc;
}
.activities-link {
  color: rgb(34, 34, 34);
}

.signup-link {
  color: #0065fc;
  font-weight: 600;
}

/* MAIN STYLING */

.main__wrapper {
  max-width: 114rem;
  margin: 0 auto;
  padding: 2rem;
}
